

.navbar{
  background-color:rgb(21, 30, 85);
  text-align: end;
  
}

#info{
  background-color:rgb(227, 227, 222);

}

.update{
  background-color: rgb(227, 227, 222);
  outline-color: white;
  
}
.support{
  background-color: rgb(227, 227, 222);
  
}

.radiobutton{
  background-color: rgb(69, 49, 143);
  padding: 6px;
  text-shadow: 2px;
  
  
  margin-bottom: 2px;
  text-align:left;

}

.one{
  margin-left:25px;

}